*{
  margin: 0; 
  padding: 0;
  font-family: 'Pridi';
}
.text.bk{
  margin-top: 38px!important;
}
.card-body .tieude {
  padding-top: 5px!important;
  text-align: center;
}
html,body{
  width: 50%%;
  height: 100%;
  background-color: #f1eff1!important;
} 
.banner {
  background-image: url(img/10.jpg);

  background-size:cover;
  height: 100%;
  width: 100%;

  overflow: hidden;

}
.navbar {
  background-color:#000000b5!important;
}

.navbar a:hover{
  text-decoration: none;
  color: red !important;
  transition: 0.5s;
}
.navbar li a:hover {
  color: blue!important;
}
@-webkit-keyframes divao {
  from { top:40%; opacity: 0;}
  to { top : 50%; opacity: 1;}
}
.duy11{
  /* display: inline-block; */
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: :0px!important;

}
#sidebar{
   width:200px;
   background:#399dcad1;
   float:left;
   height:auto;
}
#sidebar_title{
   background:white;
   color:black;
   font-size:22px;
   font-family:arial;
   padding:10px;
   text-align:center;
}
#cats{
   text-align:center;
}
#cats li{
   list-style:none;
   margin:5px;
}
#cats a{
   color:white;
   padding:8px;
   margin:5px;
   text-align:center;
   font-size:20px;
   text-decoration:none;
}
#cats a:hover{
    transition: 0.7s;
   color:blue;
   font-weight:bolder;
   text-decoration:underline;
}
.cart .noti_cart_number{
  background:red;
  color:white;
  position:absolute;
  top:-8px;
  left:35px;
  padding:1px 3px 1px 3px;
}
/* ------------------------------- */
.banner1 h1 {
  color: red;
  font-size: 60px;
  width: 100%;
}
.banner1 p {
  color: blue;
  font-size: 20px;
  padding-top: 5%px;
  padding-bottom: 48px;
}
.banner1 a {
  font-family: "roboto slab",serif;font-size: 19px;font-weight: 700;padding: 14px 60px;
}
.banner1 .logo1 {
  width: 180px;
  overflow: hidden;
  padding-top: 20%;

  transition: 2s;
}
.banner1 .logo1:hover {
 width: 300px;
}
.banner1 a:hover {
  opacity: 0.5;
  transition: 1s;
}
.navbar li a.chuden {
  color:black!important;
}
.navbar li a.chuden:hover {
  color:blue!important;
}
.navbar {
  transition: 0.5s;
}
.navbar.nentrang{
  background-color:white!important;
}

/* menu mon an */
#hot h2 {
  font-size : 36px;
  font-weight: 400;
  text-align: center;
}
.product img {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50%;
}

.text a {
  color:blue!important;
  text-align: center;
  display: block;
}
.text p {
  text-align: center;
}
/* reposive */
@media (max-width:1024px)
{
  .duy1 {
   display:block;
   margin-left:16%;
 }
}
@media (max-width:576px){
  .navbar a{
    font-size:15px;
  }
  .banner1 .logo1{
    padding-top:45%;
  }
  .navbar .logo {
    text-align:center;
    font-size:25px;
  }
  .navbar .trenphai li a {
    text-align:center;
  }

  .product {
    padding-top:10%;
  }
  #footer h4 {
    text-align:center!important;
  }
  #footer ul li a {
    text-align:center!important;
    display:block;
  }
  #footer p {
   text-align:center;
 }
 .social {
   text-align:center!important;
   display:block;
 }
 #footer a {
   text-align:center!important;
   display:block;
 }
 .duy1 {
   float:left;
 }
}
@media (max-width:375px)
{
  .banner1 h1 {
    color: red;
    font-size: 40px;
  }
  .navbar a{
    font-size:15px;
  }
  .navbar .logo {
    text-align:center;
    font-size:20px;
  }
  .banner1 a {
    font-size: 10px;font-weight: 700;padding: 14px 20px;
  }
}
@media (max-width:325px)
{
  .banner1 h1 { font-size:35px; }
  .banner1 .logo1{
    padding-top:17%;
  }
}

#footer{
  background: #e0e0e0;
  padding: 20px 0;
}
#footer a{
  color: #999999 ;
  padding: 0 ;
  text-decoration: none ;
}
#footer a:hover{
  color: #666666 ;
}
#footer ul{
  list-style: none ;
  padding-left: 0px ;
}
#footer .social{
  text-align: left ;
}
#footer .social a{
  margin: 0px 10px 0px 0px ;
  display: inline-block ;
  color: #ffffff ;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
  background: #555555;
  text-decoration: none;
}
#footer .social a:hover{
  color: #dedede;
  background: #777777;
}

/*  Copyright Styles  */

#copyright{
  background: #333333;
  color: #cccccc;
  padding: 20px 0px;
  font-size: 12px;
}
#copyright p{
  margin: 0px;
}
/*sáº£n pháº©m*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn.btn-success {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


